<% include header.ejs %> 

<% include navbar.ejs %>

<main>
  <section class="container-fluid content-row adverts-container">
    <h1><%= __('Adverts') %></h1>
    <div class="row">
      <% for(let i = 0; i < adverts.length; i++) { %>
      <article class="col-sm-3">
        <div class="card h-100">
          <img
            class="card-img-top"
            src="/images/adverts/<%=adverts[i].photo%>"
            alt="photo_<%= adverts[i].name %>"
          />
          <div class="card-body">
            <h5 class="card-title"><%= adverts[i].name %></h5>
            <div class="card-subinfo">
              <span class="card-subtitle mb-2 text-muted">
                <%= adverts[i].for_sale ? __('For sale') : __('Wanted') %>
              </span>
              <span class="card-subtitle mb-2 text-muted advert-price"
                >$<%= adverts[i].price %></span
              >
            </div>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo
              incidunt numquam laborum commodi aspernatur laudantium rerum
              repellat? Rem saepe provident nihil quidem dignissimos quisquam
              adipisci, consequatur dolor ut assumenda! Quasi.
            </p>
            <p class="card-text tags"><%= adverts[i].tags.join(", ") %></p>
          </div>
        </div>
      </article>
      <% } %>
    </div>
  </section>
</main>

<% include footer.ejs %>
